* {
  padding: 0;
  margin: 0;
  font-family: "Martian Mono", monospace;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main{
  flex: 1;
  padding: 4%;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
input[type="file"] {
  padding: 4em 5em;
  border: 2px dashed black;
  display: flex;
  align-items: center;
}
form button {
  padding: 1em;
  background-color: rgb(237, 237, 237);
  border: 1px solid black;
}
form button:hover {
  background-color: rgb(225, 225, 225);
}
form button:disabled:hover {
  background-color: rgb(237, 237, 237);
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 1em 1.5em 1em 0;
}
footer img{
  width: 2em;
  height: auto;
}
footer img:hover{
  opacity: 0.6;
}

/* loading */
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(121, 177, 255);
  animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: black;
    color: white
  }
  input[type="file"] {
    border: 2px dashed white;
  }
  form button {
    color: rgb(233, 233, 233);
    padding: 1em;
    background-color: rgb(58, 58, 58);
    border: 1px solid rgb(233, 233, 233);
  }
  form button:hover {
    background-color: rgb(70, 70, 70);
  }
  form button:disabled {
    color: rgb(119, 119, 119);
   border: 1px solid rgb(119, 119, 119);
  }
  form button:disabled:hover {
    color: rgb(119, 119, 119);
    background-color: rgb(58, 58, 58);
  }
  footer img{
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(356deg) brightness(105%) contrast(101%);
  }
}