<!DOCTYPE html>
<html lang="en">

<head>
    <title>SS13 Audio to Sheet Music</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert mp3 files to SS13 sheet music.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/music.png') }}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        {% if sheet_music != 'false' %}
        <h1>Sheet Music ({{ name }})</h1>
        <div class="sheet-music">
            <p>{{ sheet_music }}</p>
            <div class="flex">
                <a href="{{ url_for('root') }}">
                    <img src="{{url_for('static', filename='images/arrow.png')}}" />
                </a>
                <button onclick="copyText()">copy to clipboard</button>
            </div>
        </div>
        {% else %}
        <h1>Audio to SS13 Sheet Music</h1>
        <div id='loading'>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <form id='form' action="/" method="post" enctype=multipart/form-data>
            <label for="file">Input .mp3, .aiff, or .wav files</label>
            <input type="file" name="file" id="file" accept="audio/*" onchange="input()">
            <button id='submit' onclick="loading()" type="submit" disabled>Convert to Sheet Music</button>
        </form>
        {% endif %}
    </main>
    <footer>
        <a href="https://github.com/dejmedus/mp3-to-sheetmusic/tree/frontend">
            <img src="{{url_for('static', filename='images/github.png')}}" />
        </a>
    </footer>
    <script>
        function input() {
            document.getElementById('submit').disabled = false;
        }
        function loading() {
            document.getElementById('loading').classList.add('loading');
            document.getElementById('form').style.display = "none";
        }

        function copyText() {
            // formatter prefers brackets, remove from string with slice
            const copy = '{{ sheet_music | tojson}}';
            copy = copy.slice(1, -1);
            navigator.clipboard.writeText(copy);
        }   
    </script>
</body>

</html>